/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2026 Iaroslav Angliuster
 */

.valapad-statusbar {
    border-top: 1px solid @borders;
    padding: 4px 0;
    font-size: 0.85em;
    color: @theme_text_color;
}

.valapad-statusbar label {
    opacity: 0.8;
}

.valapad-findbar {
    border-top: 1px solid @borders;
}
